* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
  background-color: black;
}

/* FIGURES */
.figure {
  cursor: pointer;
}
.figure.red {
  color: red;
}
.figure.blue {
  color: blue;
}
.figure.medium {
  font-size: 2rem;
}
.figure.large {
  font-size: 3rem;
}

/* BOARD */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.cell {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
