* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

:root {
  --main-bg-color: #080808;
  --other-bg-color: #181cff;
  --main-font-color: rgb(250, 250, 250);
  --accent-color: #181cff;
  --team-one-color: red;
  --team-two-color: blue;
  --success-color: rgba(145, 255, 145, 0.397);
  --success-color-2: rgb(145, 255, 145);
}

.item-list__item.small {
  font-size: 1.25rem;
}

.item-list__item.medium {
  font-size: 2.5rem;
}

.item-list__item.large {
  font-size: 3.75rem;
}

.item-list__item.red {
  color: var(--team-one-color);
}
.item-list__item.blue {
  color: var(--team-two-color);
}

html,
body {
  background-color: var(--main-bg-color);
  height: 100%;
}

body {
  min-height: 100vh;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--main-font-color);
  flex-direction: column;
  align-items: center;
  background-color: 080808;
}

/* FIGURES */
.figure {
  cursor: move;
  touch-action: none;
}
.figure.red {
  fill: var(--team-one-color);
}
.figure.blue {
  fill: var(--team-two-color);
}
.figure.small {
  width: 20px;
  height: 20px;
}
.figure.medium {
  width: 40px;
  height: 40px;
}
.figure.large {
  width: 60px;
  height: 60px;
}

.figures {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.figures-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 4rem;
  justify-content: center;
}

.figure.markUnplayable.red:hover {
  fill: var(--team-one-color);
}
.figure.markUnplayable.blue:hover {
  fill: var(--team-two-color);
}
.figure.activeFigure {
  fill: var(--success-color-2);
  scale: 1.06;
}
.figure:hover {
  fill: var(--success-color);
}
.figure.markUnplayable {
  opacity: 0.5 !important;
}

/* BOARD */
.board {
  display: grid;
  box-sizing: border-box;
  position: relative;
  aspect-ratio: 1;
  grid-template-rows: repeat(3, 80px);
  grid-template-columns: repeat(3, 80px);
}

.cell {
  display: flex;
  z-index: 1;
  position: relative;
  align-items: center;
  justify-content: center;
}

.board .boardSvg {
  width: 100%;
  position: absolute;
  height: 100%;
}

.board .boardSvg line,
path {
  z-index: 100;
  stroke: var(--main-font-color);
}

.cell.isMoveValid {
  background-color: rgba(132, 202, 138, 0.336);
}
.cell.winningCell {
  background-color: var(--success-color);
}

.winnerMsg {
  font-size: 1.5rem;
}

/* HEADER */
header {
  background-color: var(--other-bg-color);
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
}

header h1 {
  font-weight: 500;
}

/* Info */
.info {
  letter-spacing: 0.7px;
  line-height: 24px;
  width: 90%;
  max-width: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: pre-line;
}
.info .bottom,
.info .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.info .message {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 5rem;
  flex-direction: column;
}
.info .messageMsg {
}
.info .turnMsg {
  font-weight: 600;
}
/* GAME */
.game-container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.boardFiguresContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.figureSvg:focus {
  outline: none;
}

.restartBtn {
  padding: 3px 15px;
  border: 1px solid var(--accent-color);
  color: var(--main-font-color);

  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s;
}

.restartBtn:hover {
  border: 1px solid var(--main-bg-color);
  color: var(--main-font-color);
  background-color: var(--accent-color);
}

select {
  border: 1px solid var(--accent-color);
  color: var(--main-font-color);
  background-color: transparent;
  border-radius: 6px;
  transition: all 0.2s;
  cursor: pointer;
  padding: 3px 15px;
}

select * {
  background-color: var(--main-bg-color);
}

select:hover {
  border: 1px solid var(--main-bg-color);
  color: var(--main-font-color);

  background-color: var(--accent-color);
}

/* Footer */

footer {
  padding: 15px;
}

footer .help {
  opacity: 0.8;
  font-size: 0.8rem;
  cursor: pointer;
}

/* help */
.needHelp {
  cursor: pointer;
}

.help .modalBackdrop {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.helpModal {
  border: 2px solid var(--accent-color);
  padding: 70px 50px;
  position: fixed;
  width: 88%;
  max-width: 500px;
  z-index: 10;
  top: 50%;
  background-color: var(--main-bg-color);
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}

.helpModal svg {
  width: 2rem;
  position: absolute;
  right: 15px;
  top: -10px;
  cursor: pointer;
  fill: var(--accent-color);
}

/*  MEDIA QUERIES */
@media (min-width: 700px) {
  .game-container {
    gap: 0px;
  }

  #root {
    gap: 10px;
  }
  .board {
    display: grid;
    box-sizing: border-box;
    position: relative;
    aspect-ratio: 1;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
  }
  .game-container {
    justify-content: flex-start;
  }
}
